<h1 class="display-4">Добавление напитка</h1>

<div class="form-group mb-2">
    <label>Название</label>
    <input class="form-control" name="name" placeholder="Введите название напитка">
</div>

<div class="form-group mb-2">
    <label>Цена</label>
    <input class="form-control mb-3" name="price" placeholder="Введите цену">
</div>

<div class="form-group mb-2">
    <label>Количество</label>
    <input class="form-control mb-3" name="amount" placeholder="Введите количество">
</div>

<div class="mb-3">
    <input type="file" class="form-control" name="files" required>
    <div class="invalid-feedback">Загрузите изображение напитка</div>
</div>

<p name="addMethod"><a class="btn btn-success w-100">Добавить</a></p>

@section Scripts{
    <script>

        function CreateGUID() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'
                .replace(/[xy]/g, function (c) {
                    const r = Math.random() * 16 | 0,
                        v = c == 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
        }

        function RedirectPage(data){
            window.location = data;
        }

        $('p[name="addMethod"]').click(function (){
            let Id = CreateGUID();
            let name = $('input[name="name"]').val().toString();
            let price = $('input[name="price"]').val().toString();
            let amount = $('input[name="amount"]').val().toString();
            let img = $('input[name="files"]').prop("files");

            formData = new FormData();
            formData.append("Id", Id);
            formData.append("Name", name);
            formData.append("Price", price);
            formData.append("Amount", amount);
            formData.append("Img", img[0]);


            $.ajax({
                type: "POST",
                url: '@Url.Action("AddAdmin", "Drinks")',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: RedirectPage,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + sessionStorage.getItem("token"));
                }
            })
        })
    </script>
}