@model IEnumerable<Drinks>

<div class="row mt-3 mb-2">
    @{
        foreach (var drink in Model)
        {
            <div class="col-lg-5 m-4 shadow mb-5">
                <img class="img-thumbnail m-4 p-5" src="" alt="Картинка отсутствует" />
                <div class="ml-4 pr-4 mt-2 text-dark" name="main">
                    <p>Название: @drink.Name</p>
                    <p>Цена: @drink.Price</p>
                    <p>Количетсво: @drink.Amount</p>
                </div>
            </div>
        }
    }
</div>
<script>

</script>